
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--FGu {
  box-sizing: border-box;
  padding: 4rem 0.4rem 8.4rem 0.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}
.item--FGu .auto-group-xmcm-xBK {
  margin: 0rem 52.7rem 4.4rem 52.8rem;
  width: calc(100% - 105.5rem);
  height: 6.1rem;
  position: relative;
  flex-shrink: 0;
}
.item--FGu .auto-group-xmcm-xBK .transcendence-fbX {
  width: 37.6rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--FGu .auto-group-xmcm-xBK .transcendence-aCh {
  width: 37.6rem;
  height: 6.1rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #ff9900;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--FGu .item--H77 {
  margin-bottom: 0.8rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--FGu .item--H77 .item--bdb {
  margin-right: 0.9rem;
  width: 47.1rem;
  height: 100%;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9900;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--FGu .item--H77 .item--ozZ {
  margin-right: 0.8rem;
  width: 47.2rem;
  height: 100%;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9900;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--FGu .item--H77 .item--Epy {
  width: 47.2rem;
  height: 100%;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #72aaff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--FGu .item--gws {
  width: 100%;
  height: 73.1rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--FGu .item--gws .item--poB {
  width: 30rem;
  height: 73.1rem;
  background-color: #d9d9d9;
  border-radius: 1rem 0 0 1rem;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf {
  box-sizing: border-box;
  padding: 2rem 21.3rem 2rem 2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 {
  margin-right: 2.3rem;
  width: 12.8rem;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .auto-group-uoay-QWV {
  margin-bottom: 19.4rem;
  box-sizing: border-box;
  padding: 1.848rem 3.527rem 2.198rem 3.088rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .auto-group-uoay-QWV .vector-1-6u7 {
  margin: 0rem 1.02rem 0.034rem 0rem;
  width: 2.355rem;
  height: 1.4882rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .auto-group-uoay-QWV .auto-group-k87t-1mB {
  margin: 0rem 0.476rem 0rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .auto-group-uoay-QWV .auto-group-k87t-1mB .vector-2-jhB {
  margin: 0.381rem 0.285rem 0rem 0rem;
  width: 2.569rem;
  height: 2.3787rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .auto-group-uoay-QWV .auto-group-k87t-1mB .vector-4-fKw {
  margin-top: 0.3806rem;
  width: 0.2854rem;
  height: 3.4254rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .auto-group-uoay-QWV .auto-group-k87t-1mB .vector-3-oh3 {
  width: 2.569rem;
  height: 2.569rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .auto-group-uoay-QWV .auto-group-9sdw-9W1 {
  margin-left: 1.6175rem;
  width: 4.5672rem;
  height: 3.4254rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .item--fz9 {
  margin-bottom: 8.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .item--BxV {
  margin-bottom: 8.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-mqoj-Tr9 .item--6pZ {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-ub9t-pVf {
  margin: 1rem 19.6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-ub9t-pVf .item--k8R {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-ub9t-pVf .item--rx9 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-t8qh-at9 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-t8qh-at9 .fa--KKw {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-t8qh-at9 .item--C8q {
  margin-bottom: 23.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--FGu .item--gws .auto-group-ssqy-9Kf .auto-group-t8qh-at9 .item--6ED {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--FGu .item--gws .item--1c5 {
  width: 30rem;
  height: 73.1rem;
  background-color: #d9d9d9;
  border-radius: 0 1rem 1rem 0;
  flex-shrink: 0;
}
