@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /*
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
*/
}

html {
}

.full-background {
  min-height: 100vh;
  min-width: 70vh;
  background-color: rgb(32, 36, 48);
}

.full-background-color {
  background-color: rgb(32, 36, 48);
}

body {
  /*
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  */
}

.contentBox {
  display: flex;
  min-height: 100vh;
  width: auto;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

.centerContentBox {
  min-height: 100vh;
  width: 70vmax;
  background-color: white;
}

.centerItemFlex {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
}

.centerItemBlock {
  display: block;
  margin: auto;
}

fieldset {
	border: solid 1px black;
	padding: 4px;
}

fieldset legend {
	padding: 2px;
	color: black;
}

fieldset input[type='radio'] {
	margin: 3px;
}

fieldset label {
	margin: 4px;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.normalButton {
	padding: 1px;
	border: solid 1px black;
	border-radius: 0.3rem;
	background-color: lightgray;
}

.normalButton:hover {
	filter: contrast(0.8);
}
