.container {	
	background-color: black;
	display: flex;
	justify-content: center; /* Horizontal centering */
	align-items: center;     /* Vertical centering */
	height: 100vh;           /* Set the container height to the viewport height for vertical centering */
}
