
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--FGu {
  align-items: center;
  flex-direction: column;
  background-color: #202020;
  box-sizing: border-box;
  padding: 4rem 0.4rem 8.4rem 0.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;

  .auto-group-xmcm-xBK {
    margin: 0rem 52.7rem 4.4rem 52.8rem;
    width: calc(100% - 105.5rem);
    height: 6.1rem;
    position: relative;
    flex-shrink: 0;

    .transcendence-fbX {
      font-weight: 600;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      height: 6.1rem;
      position: absolute;
      font-size: 5rem;
      color: #000000;
      white-space: nowrap;
      width: 37.6rem;
      left: 0;
      top: 0;
    }
    .transcendence-aCh {
      width: 37.6rem;
      height: 6.1rem;
      left: 0.1rem;
      top: 0;
      line-height: 1.2125;
      color: #ff9900;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-size: 5rem;
      font-weight: 600;
      font-style: italic;
      white-space: nowrap;
    }
  }
  .item--H77 {
    border-radius: 1rem;
    flex-shrink: 0;
    margin-bottom: 0.8rem;
    width: 100%;
    height: 5.6rem;
    display: flex;
    align-items: center;

    .item--bdb {
      border-radius: 1rem;
      line-height: 1.2125;
      align-items: center;
      justify-content: center;
      margin-right: 0.9rem;
      width: 47.1rem;
      color: #ffffff;
      flex-shrink: 0;
      height: 100%;
      display: flex;
      background-color: #ff9900;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 3.4rem;
      font-weight: 600;
      font-style: italic;
    }
    .item--ozZ {
      line-height: 1.2125;
      font-style: italic;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 0.8rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.4rem;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      width: 47.2rem;
      height: 100%;
      color: #ffffff;
      white-space: nowrap;
      background-color: #ff9900;
    }
    .item--Epy {
      border-radius: 1rem;
      width: 47.2rem;
      height: 100%;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.2125;
      align-items: center;
      justify-content: center;
      font-size: 3.4rem;
      font-style: italic;
      background-color: #72aaff;
    }
  }
  .item--gws {
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
    width: 100%;
    height: 73.1rem;
    display: flex;
    align-items: center;

    .item--poB {
      flex-shrink: 0;
      width: 30rem;
      height: 73.1rem;
      background-color: #d9d9d9;
      border-radius: 1rem 0 0 1rem;
    }
    .auto-group-ssqy-9Kf {
      padding: 2rem 21.3rem 2rem 2rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-mqoj-Tr9 {
        margin-right: 2.3rem;
        width: 12.8rem;
        flex-shrink: 0;

        .auto-group-uoay-QWV {
          background-color: #d9d9d9;
          margin-bottom: 19.4rem;
          box-sizing: border-box;
          padding: 1.848rem 3.527rem 2.198rem 3.088rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .vector-1-6u7 {
            width: 2.355rem;
            height: 1.4882rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.02rem 0.034rem 0rem;
          }
          .auto-group-k87t-1mB {
            margin: 0rem 0.476rem 0rem 0rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .vector-2-jhB {
              flex-shrink: 0;
              margin: 0.381rem 0.285rem 0rem 0rem;
              width: 2.569rem;
              height: 2.3787rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-4-fKw {
              flex-shrink: 0;
              margin-top: 0.3806rem;
              width: 0.2854rem;
              height: 3.4254rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-3-oh3 {
              flex-shrink: 0;
              width: 2.569rem;
              height: 2.569rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-9sdw-9W1 {
            vertical-align: top;
            flex-shrink: 0;
            margin-left: 1.6175rem;
            width: 4.5672rem;
            height: 3.4254rem;
            object-fit: contain;
          }
        }
        .item--fz9 {
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 8.2rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .item--BxV {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 8.2rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2125;
          font-style: italic;
        }
        .item--6pZ {
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
      }
      .auto-group-ub9t-pVf {
        margin: 1rem 19.6rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--k8R {
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          font-weight: 600;
          line-height: 1.2125;
          font-style: italic;
          color: #000000;
        }
        .item--rx9 {
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
      }
      .auto-group-t8qh-at9 {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .fa--KKw {
          margin-bottom: 1.8rem;
          font-size: 2rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.2125;
          font-style: italic;
          color: #000000;
          white-space: nowrap;
        }
        .item--C8q {
          margin-bottom: 23.7rem;
          font-weight: 600;
          font-style: italic;
          color: #000000;
          flex-shrink: 0;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--6ED {
          line-height: 1.2125;
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
    .item--1c5 {
      width: 30rem;
      height: 73.1rem;
      background-color: #d9d9d9;
      border-radius: 0 1rem 1rem 0;
      flex-shrink: 0;
    }
  }
}
