
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--YmF {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4rem 0.4rem 8.4rem 0.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-tgsv-Q2m {
    margin: 0rem 52.7rem 4.4rem 52.8rem;
    width: calc(100% - 105.5rem);
    height: 6.1rem;
    position: relative;
    flex-shrink: 0;

    .transcendence-hXf {
      font-size: 5rem;
      font-weight: 600;
      font-style: italic;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      left: 0;
      top: 0;
      position: absolute;
      line-height: 1.2125;
      white-space: nowrap;
      width: 37.6rem;
      height: 6.1rem;
    }
    .transcendence-n3K {
      line-height: 1.2125;
      font-style: italic;
      width: 37.6rem;
      height: 6.1rem;
      position: absolute;
      left: 0.1rem;
      top: 0;
      font-size: 5rem;
      color: #ff9900;
      white-space: nowrap;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .item--FxV {
    margin-bottom: 0.8rem;
    width: 100%;
    height: 5.6rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    flex-shrink: 0;

    .item--kuF {
      background-color: #ff9900;
      color: #ffffff;
      align-items: center;
      height: 100%;
      font-size: 3.4rem;
      font-weight: 600;
      justify-content: center;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-style: italic;
      border-radius: 1rem;
      margin-right: 0.9rem;
      width: 47.1rem;
      line-height: 1.2125;
    }
    .item--CmF {
      font-family: Inter, 'Source Sans Pro';
      width: 47.2rem;
      display: flex;
      justify-content: center;
      margin-right: 0.8rem;
      height: 100%;
      font-weight: 600;
      font-style: italic;
      color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 3.4rem;
      line-height: 1.2125;
      white-space: nowrap;
      align-items: center;
      background-color: #72aaff;
    }
    .item--q3X {
      height: 100%;
      font-size: 3.4rem;
      font-weight: 600;
      line-height: 1.2125;
      display: flex;
      border-radius: 1rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #ff9900;
      font-style: italic;
      flex-shrink: 0;
      width: 47.2rem;
    }
  }
  .item--2th {
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
    width: 100%;
    height: 73.1rem;
    display: flex;
    column-gap: 0.6rem;

    .item--LuP {
      width: 30rem;
      height: 73.1rem;
      background-color: #202020;
      border-radius: 1rem 0 0 1rem;
      flex-shrink: 0;
    }
    .item--3oo {
      padding: 3rem 1.6rem;
      display: flex;
      align-items: center;
      border-top: solid 0.1rem #ffffff;
      margin: 0.6rem 0;
      box-sizing: border-box;
      height: calc(100% - 1.2rem);
      background-color: #000000;
      flex-shrink: 0;

      .item-1-9rq {
        margin: 0rem 14.2rem 12.9rem 0rem;
        width: 1.2rem;
        height: 12rem;
        background-color: #52ff83;
        flex-shrink: 0;
      }
      .item--TMj {
        flex-shrink: 0;
        margin: 0rem 11rem 25.5rem 0rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: #53ff83;
        border-radius: 0.8rem;
      }
      .item-1-8yf {
        line-height: 1.2125;
        font-style: italic;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 6rem 56.2rem 0rem;
        font-size: 8rem;
        font-weight: 600;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item-2-3aq {
        font-style: italic;
        white-space: nowrap;
        font-size: 8rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 27.2rem 56.2rem 0rem;
      }
      .item-2-9tm {
        margin-top: 17.9rem;
        width: 1.2rem;
        height: 12rem;
        background-color: #52ff83;
        flex-shrink: 0;
      }
    }
    .item--ead {
      height: 73.1rem;
      background-color: #202020;
      border-radius: 0 1rem 1rem 0;
      flex-shrink: 0;
      width: 30rem;
    }
  }
}
