.body {
	background: rgb(211, 211, 211);
  }
  
  .h1 {
	position: relative;
	text-align: center;
	color: #353535;
	font-size: 50px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 18px;
	color: #676767;
  }
  
  .frame {
	width: 100%;
	margin: 0px auto;
	text-align: center;
  }
  
  .button {
	margin: 20px;
  }
  
  .customBtn {
	width: 340px;
	height: 210px;
	color: #fff;
	border-radius: 5px;
	padding: 1px 1px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
	font-size: 50px;
  }
  
  .btn2 {
	background: rgb(247, 150, 192);
	background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
	line-height: 210px;
	padding: 0;
	border: none;
  }
  
  .btn2 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
  }
  
  .btn2:before,
  .btn2:after {
	position: absolute;
	content: "";
	height: 0%;
	width: 1px;
	box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1), -4px -4px 5px 0px rgba(255, 255, 255, 1), 7px 7px 20px 0px rgba(0, 0, 0, .4), 4px 4px 5px 0px rgba(0, 0, 0, .3);
  }
  
  .btn2:before {
	right: 0;
	top: 0;
	transition: all 500ms ease;
  }
  
  .btn2:after {
	left: 0;
	bottom: 0;
	transition: all 500ms ease;
  }
  
  .btn2:hover {
	background: transparent;
	color: #76aef1;
	box-shadow: none;
  }
  
  .btn2:hover:before {
	transition: all 500ms ease;
	height: 100%;
  }
  
  .btn2:hover:after {
	transition: all 500ms ease;
	height: 100%;
  }
  
  .btn2 span:before,
  .btn2 span:after {
	position: absolute;
	content: "";
	box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1), -4px -4px 5px 0px rgba(255, 255, 255, 1), 7px 7px 20px 0px rgba(0, 0, 0, .4), 4px 4px 5px 0px rgba(0, 0, 0, .3);
  }
  
  .btn2 span:before {
	left: 0;
	top: 0;
	width: 0%;
	height: .5px;
	transition: all 500ms ease;
  }
  
  .btn2 span:after {
	right: 0;
	bottom: 0;
	width: 0%;
	height: .5px;
	transition: all 500ms ease;
  }
  
  .btn2 span:hover:before {
	width: 100%;
  }
  
  .btn2 span:hover:after {
	width: 100%;
  }

  .btn2:active {
	top: 2px;
  }

  

  .btn1 {
	background: rgb(0,3,255);
	background: rgb(0,3,255);
	background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
	border: none;
	z-index: 1;
	line-height: 210px;
  }

  
  .btn1:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 5px;
	background-color: #18a6f8;
	background-image: linear-gradient(315deg, #18a6f8 0%, #daf9ff 74%);
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
	 /* 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1); */
	transition: all 0.3s ease;
  }
  .btn1:hover {
	color: #242424;
  }
  .btn1:hover:after {
	top: auto;
	bottom: 0;
	height: 100%;
  }
  .btn1:active {
	top: 2px;
  }
