.userProfileContainer {
	display: flex;
	align-items: center;
}

.userProfile {
<<<<<<< HEAD
	padding: 50px 100px 0px 100px;
=======
<<<<<<< HEAD
	padding: 50px 100px 0px 100px;
=======
	padding: 50px 100px 50px 100px;
>>>>>>> f31c684543f03cec1261e2e19becf98f014aea42
>>>>>>> bab064ef72ca970d4f250549617902075f2c61ce
	text-align: center;
  }
  
  .userImage {
	margin-bottom: 0px;
  }

  .userText {
	padding: 35px 0px 0px 0px;
	font-size: 40px;
  }
  
  .button {
	width: 300px;
	height: 100px;
	font-size: 30px;
	background-color: #0b76e8;
	color: #fff;
	border: none;
	cursor: pointer;
	border: 2px solid #ccc;
	border-radius: 15px;
  }
  
  .button:hover {
	background-color: #0056b3;
  }
  
  .buttonContainer {
	padding: 50px 0px 0px 0px;
	text-align: center;
  }
  
  .countdownContainer {
	text-align: center;
  }
  
  .countdown {
	font-size: 80px;
	font-weight: bold;
	color: #007bff;
  }

  .bottomRight {
	background-color: rgb(202, 15, 15);
	border: 2px solid #ccc;
	border-radius: 15px;
	font-size: 25px;
	width: 240px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
  }

  .bottomRight:hover {
	background-color: rgb(122, 36, 36);
  }
  
  .countdownContainer {
	text-align: center;
  }
  
  .countdown {
	font-size: 100px;
	font-weight: bold;
	color: #05d9f6;
	-webkit-text-stroke: 1px black;
  }