.modalOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.modalWrapper {
	min-height: 200px;
	min-width: 300px;
	height: 500px;
	width: 400px;
}

.modal {
	background-color: white;
	height: 100%;
	width: 100%;
	border-radius: 15px;
	padding: 15px;
}

.modalHeader {
	display: flex;
	justify-content: flex-end;
	font-size: 25px;
}

.modalBody {
	padding-top: 10px;
	height: 100%;
}
