.navbar {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3rem;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
}

.button {
  display: flex;
  margin: 2px;
  height: 3rem;
  border-radius: 0.5rem;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
}

.button:hover {
  filter: contrast(0.7);
}

.current {
  background-color: skyblue;
}

.rest {
  background-color: orange;
}
