.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.profileImage {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.profileUpdateBtn {
  margin-top: 8px;
  background-color: lightgray;
  border-radius: 0.3rem;
  border: solid 1.5px gray;
  width: 7.2rem;
  height: 1.6rem;
  margin: 2px;
}

.profileImageUpload:hover {
  filter: contrast(0.8);
}

.infoBox {
	border: solid 1.5px lightgray;
	border-radius: 0.3rem;
}

#nameUpdateField {
	border-color: black;
	margin: 0.5rem;
	border: solid 1px;
	width: 14rem;
}

#nameUpdateField:invalid {
	border-color: red;
}

#nameUpdateField + #nameValidity {
	padding-right: 30px;
}

#nameUpdateField:invalid + #nameValidity::after {
	position: absolute;
	content: 'x';
	padding-left: 5px;
}

#nameUpdateField:valid + #nameValidity::after {
	position: absolute;
	content: 'o';
	padding-left: 5px;
}
