.tfa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.tfaInput {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.tfaConfirm {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tfaConfirm:hover {
  background-color: #0056b3;
}

.tfaFont {
  font-size:larger;
  color: rgb(255, 204, 0);
}

.tfaLoading {
  font-size: larger;
  color: rgb(21, 206, 83);
  text-align: center;
}

.tfaFail {
  font-size: larger;
  color: rgb(201, 26, 26);
  text-align: center;
}
